<footer class="page-footer grey lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text"><li class="material-icons">location_city</li>MisionTIC</h5>
          <p class="grey-text text-lighten-4"><li class="material-icons">group_work</li>Equipo 5 - Grupo 25</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text"><i class="material-icons">supervisor_account</i>Miembros de equipo</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!"><li class="material-icons">person</li>David</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><li class="material-icons">person</li>Jorge</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><li class="material-icons">person</li>Jose</a></li>
            <li><a class="grey-text text-lighten-3" href="#!"><li class="material-icons">person</li>Omar</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <ul>
           <li><i class=" tiny material-icons">security</i>© 2021 Copyright Fly Emirates</li>
        </ul>
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  
