
  <nav>
    <div class="nav-wrapper dimentions  red accent-3">
      <ul>
        <li><i class="large material-icons">local_airport</i></li>
        <li> <a href="#" class="brand-logo"><h4>Fly emirates</h4></a> </li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <!--Usamoa "routerlink" para ir a un componente-->
        <li><a routerLink="aeropuertos/get"><h5>Aeropuertos</h5></a></li>
        <li><a routerLink="estaciones/get"><h5>Estaciones</h5></a></li>
        <li><a routerLink="vuelos/get"><h5>Vuelos</h5></a></li>
        <li><a routerLink="rutas/get"><h5>Rutas</h5></a></li>
        <li ><a routerLink="admin/get" ><h5>Administrador</h5></a></li>
        <li><i class="medium material-icons">person_pin</i></li>
        <li><a routerLink="seguridad/login"><h5>Login</h5></a></li>
      </ul>
    </div>
  </nav>
        
        
